@import "../../styles/color.scss";

.productDetailPage {
  height: 91.4vh;

  background-color: $pages-bg-color;
  padding-top: 2rem;
}

.productDetailContainer {
  display: flex;
  margin-left: 22rem;
  margin-right: 22rem;
  width: 148rem;
  height: 76.9rem;
  background-color: $navbar-bg-color;
  border-radius: 0.8rem;

  .detailLeftSide {
    width: 50%;
    // background-color: red;
    .detailImage {
      img {
        width: 70rem;
        height: 73.7rem;
        border-radius: 0.8rem;
        margin: 1.5rem;
        object-fit: cover;
      }
    }
  }

  .detailRightSide {
    width: 50%;
    // background-color: yellow;

    .rightSideContainer {
      margin-top: 3rem;
      margin-left: 1.5rem;
      .detailTitle {
        font-size: 3.4rem;
        color: $detail-title;
      }
      .detailInfo {
        font-size: 1.5rem;
        color: $input-title-color;
        div {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.notFoundProduct {
  max-height: 90vh;
  overflow: hidden;
  img {
    width: 100%;
  }
}
