$form-bg-color: red;
$navbar-bg-color: #ffffff;
$navbar-btn-color: #4b9ce2;
$navbar-btn-bg-color: #f0f8ff;
$form-page-bg-color: #fbfbfb;
$input-bg-color: #f4f4f4;
$input-title-color: #525252;
$submit-btn-bg: #4b9ce2;
