@import "./color.scss";

.Toastify__toast--error {
  background: $error-toast-bg 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px $error-toast-shadow;
  border-radius: 8px;
  color: $error-input-border;
}
.Toastify__toast--success {
  background: rgb(14, 223, 14) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px $error-toast-shadow;
  border-radius: 8px;
  color: white;
}
