@import "../../styles/color.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: $navbar-bg-color;
  padding: 20px 220px;

  .navRightSide {
    button {
      color: $navbar-btn-color;
      background-color: $navbar-btn-bg-color;
      margin-left: 10px;
      border: none;
      border-radius: 8px;
      width: 125px;
      height: 40px;
      font-weight: bold;
      // font-size: 15px;
      img {
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }
    }
  }
}
