@media only screen and (max-width: 1200px) {
  .formContainer .leftSide {
    display: none;
  }
  .formContainer .rightSide {
    width: 100%;
  }
  .formContainer .rightSide .rightSideContainer .logo img {
    width: 14.9rem;
    height: 4.8rem;
  }
  .formContainer .rightSide .rightSideContainer .forms {
    width: 35.5rem;
    height: 43.5rem;
    margin-top: 2.4rem;
  }
  .formContainer .rightSide .rightSideContainer .forms .registerLoginForm .form {
    margin-top: 3rem;
  }
  .formContainer .rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers .inputTitle {
    color: #525252;
    display: block;
    font-weight: normal;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .formContainer .rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers .allInput {
    background: #f4f4f4 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0.8rem;
    padding-left: 0.5rem;
    outline: none;
    width: 31.5rem;
    height: 4.5rem;
  }
  .formContainer .rightSide .rightSideContainer .forms .registerLoginForm .form .forgotPassword {
    margin-top: 0.5rem;
  }
  .formContainer .rightSide .rightSideContainer .forms .registerLoginForm .form .submitBtn {
    width: 31.5rem;
    height: 4.5rem;
    margin-top: 2rem;
  }
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background-color: #fbfbfb;
}

.leftSide {
  width: 40%;
  background-image: url(../../constants/images/formPageWoman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rightSide {
  width: 60%;
}

.rightSide .rightSideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.rightSide .rightSideContainer .logo img {
  width: 22.4rem;
  height: 7.3rem;
}

.rightSide .rightSideContainer .forms {
  width: 56.9rem;
  height: 55.4rem;
  margin-top: 5.5rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0rem 0.3rem 1.2rem #1e36480a;
          box-shadow: 0rem 0.3rem 1.2rem #1e36480a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rightSide .rightSideContainer .forms .registerLoginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightSide .rightSideContainer .forms .registerLoginForm .formTitle {
  text-align: center;
  color: #525252;
}

.rightSide .rightSideContainer .forms .registerLoginForm .formTitle .title {
  font-weight: bold;
  font-size: 3.2rem;
}

.rightSide .rightSideContainer .forms .registerLoginForm .formTitle .smallTitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form {
  margin-top: 3rem;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers {
  margin-top: 1.5rem;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers .inputTitle {
  color: #525252;
  display: block;
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers .allInput {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 0.8rem;
  padding-left: 1rem;
  outline: none;
  width: 38.9rem;
  height: 4.5rem;
  font-size: 1.6rem;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .inputContainers .errorInput {
  background: #fff2f2 0% 0% no-repeat padding-box;
  border: 0.1rem solid #f77474;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .forgotPassword {
  margin-top: 0.5rem;
  text-align: right;
  color: #b1b1b1;
  font: normal 1.2rem Nunito;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .forgotPassword span {
  cursor: pointer;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .forgotPassword .hiddenForget {
  visibility: hidden;
}

.rightSide .rightSideContainer .forms .registerLoginForm .form .submitBtn {
  background: #4b9ce2 0% 0% no-repeat padding-box;
  border-radius: 0.8rem;
  width: 38.9rem;
  height: 4.5rem;
  margin-top: 2.5rem;
  font: normal normal bold 1.8rem Nunito;
}

.rightSide .rightSideContainer .forms .registerLoginForm .otherLink {
  margin-top: 2rem;
  text-align: center;
  font: normal normal normal 1.5rem Nunito;
}

.rightSide .rightSideContainer .forms .registerLoginForm .otherLink span {
  color: #4b9ce2;
  font: normal normal bold 1.5rem Nunito;
}
/*# sourceMappingURL=formPage.css.map */